// Colors
$primary-color: #FF6464;
$secondary-color: #00A8CC;
$bg-posts: #EDF7FA;
$white: #fff;
$gray-text: #8695A4;

// Typography
$font-heebo: 'Heebo', sans-serif;
$font-size-base: 62.5%;
$john-font-size: 44px;
$recent-font-size: 22px;
$p-head-font-size: 26px;
$sana-font-size: 18px;
$nav-font-size: 2rem;
$nav-gap: 3rem;

// Layout
$container-width: 1251px; // Из style.min.css
$container-padding: 5rem;