.header {
  padding-bottom: 3.2rem;
  padding-top: 3.2rem;
  background-image: url("../images/pattern-light-bg.svg");
}
.header__container .container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 4.8rem;
}

.site-logo:hover {
  opacity: 0.8;
}

.header-hero .container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header-hero__content {
}
.header-hero__title {
  font-size: $font-1;
  background: linear-gradient(107.24deg, #fea36f -11.37%, #062630 61.84%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-bottom: 2.4rem;
  line-height: $lh-1;
}
.header-hero__description {
  font-size: $font-5;
  line-height: $lh-5;
  margin-bottom: 3.2rem;
}

.header-hero__image {
  border-radius: 1.2rem;
}

@media screen and (max-width: 996px) {
  .header-hero .container {
    flex-direction: column;
  }

  .header-hero__content {
    margin-bottom: 6.4rem;
  }

  .header-hero__image {
    width: 100%;
    object-fit: cover;
    object-position: top;
  }
}

@media screen and (max-width: 768px) {
  .header {
    margin-bottom: 3.2rem;
  }
}

@media screen and (max-width: 650px) {
  .header-hero__title {
    font-size: $font-1-m;
    line-height: $lh-1-m;
  }
}

@media screen and (max-width: 375px) {
  .header {
    padding-bottom: 2.4rem;
    padding-top: 2.4em;
  }

  .header {
    margin-bottom: 2.4rem;
  }
}
