.f-works {
  padding: 20px 148px;

  .card {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;

    .left-card {
      width: 246px;
      height: auto;
    }

    .right-card {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .f-head {
      font-weight: 700;
      font-size: 30px;
    }

    .second {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .year {
      font-weight: 500;
    }

    .hira {
      color: $gray-text;
    }
  }

  @include respond-to(768px) {
    padding: 20px;

    .card {
      flex-direction: column;

      .left-card {
        width: 100%;
      }
    }
  }
}